<p>
    <b>Apple Pies Against Humanity</b> is a browser-based Cards Against Humanity / Apples to Apples clone made by Mr Pie 5. It is heavily inspired by a Starcraft II arcade game called Apples Against Humanity by azala, which is the best variation of the game my friends and I have played. The problem with that is it comes with the baggage of having Starcraft II installed, which is free but quite large and quite system-intensive for a text game, so it's often difficult to invite new people to join us. Something browser-based would be portable and accessible, but I have been unable to find any browser-based game that does what that variation got right, not even the one made by its creator (<a href="https://picturecards.online">Picture Cards Online</a>, which is cool in its own way, just doesn't have the same vibe), so I did it myself.
</p>