<h2>Questions</h2>
<ul class="view-deck question-cards">
    {{#each questions}}
        <li class="card">
            <div class="text">{{this.text}}</div>
            <div class="answers">Pick {{this.answers}}</div>
        </li>
    {{/each}}
</ul>
<h2>Answers</h2>
<ul class="view-deck answer-cards">
    {{#if (isdefined answers.1.text)}}
        {{#each answers}}
            <li class="card">
                <div class="text">{{this.text}}</div>
            </li>
        {{/each}}
    {{else}}
        {{#each answers}}
            <li class="card">
                <div class="text">{{this}}</div>
            </li>
        {{/each}}
    {{/if}}
</ul>