<h2>Card conventions</h2>
<p>Here are a few card conventions that, while you don't have to follow, will help your cards look nicer and fit in better:</p>
<ul>
    <li>Write answers in sentence case. Capitalize the first letter and nothing else unless there's reason to capitalize further, such as proper nouns or extra capitals being part of the joke/reference.</li>
    <li>End answers with a period if they don't already end with another punctuation mark.</li>
    <li>When writing questions, don't add an article before the blank. Answers usually come with their own articles, so providing one in the question can often end up with weird grammar.<br/>For example, instead of "Look, it's a _____!", do "Look, it's _____!"</li>
    <li>Blanks in questions are typically made of 4 or 5 underscores in a row.</li>
</ul>

<h2>Magic words</h2>
<p>There are a few text codes that you can insert into your questions and answers that will be replaced with specific data when they are drawn. These are known as "magic words". Here are the current magic words and what they will be replaced with:</p>
<ul>
    <li><code>{@r}</code> - the name of a random player in the current game.</li>
    <li><code>{@w}</code> - the name of the player with the most points in the current game (ties go to first in the player list).</li>
    <li><code>{@l}</code> - the name of the player with the least points in the current game (ties go to first in the player list).</li>
</ul>

<h2>My deck</h2>
<div id="deck-editor">
    <div id="deck-editor__answers">
        <legend>Answers</legend>
        <input type="button" onclick="listAnswers()" value="Load answers"/>
        <div class="messages"></div>
        <div class="card-list" id="my-answers"></div>
        <input type="button", class="add-button" onclick="addAnswer()" value="New answer"/>
        <input type="button" onclick="updateAnswers()" value="Save changes"/>
    </div>
    <div id="deck-editor__questions">
        <legend>Questions</legend>
        <input type="button" onclick="listQuestions()" value="Load questions"/>
        <div class="messages"></div>
        <div class="card-list" id="my-questions"></div>
        <input type="button", class="add-button" onclick="addQuestion()" value="New question"/>
        <input type="button" onclick="updateQuestions()" value="Save changes"/>
    </div>
</div>
<script>
    const answers = document.getElementById("my-answers");
    const questions = document.getElementById("my-questions");
    const chatCharacterLimit = Number('{{chatCharacterLimit}}');

    let deckUnsaved = false;
    let deckAnswerChanges = {};
    let deckQuestionChanges = {};
    let newAnswerID = -1; // the value doesn't much matter but should be negative
    let newQuestionID = -1

    //
    // Begin answers
    //

    function listAnswers(){
        const answersContainer = document.getElementById("deck-editor__answers");
        $.ajax({
            type: 'get',
            url: '/user/listAnswers',
            success: function (data) {
                updateAnswerList(data);
                deckAnswerChanges = {};
                newAnswerID = -1;
            },
            error: function(data) {
                answersContainer.getElementsByClassName("messages")[0].innerHTML = data.responseText;
            }
        })
    }

    //
    // The answer update system stores answer changes into the deckAnswerchanges object as entries in the form of
    // id(Integer):value(String)
    // these ids are essentially provided by the server and correspond to an answer's index in the user's deck.
    // When adding new cards, id should be a negative number, the actual value of which is unimportant and only serves
    // to distinguish them from other new answers added at the same time.
    // When deleting cards, value should be set to "" but id left unchanged.
    //

    function updateAnswerList(deck){
        answers.innerHTML = "";
        let id = 0;
        for(const answer of deck){
            answers.append(createAnswerElement(answer, id));
            id++;
        }
    }

    function createAnswerElement(text, id){
        const answerElement = createElementWithAttributes("div", {"class":"answer editor-entry"});
        const deleteButton = createElementWithAttributes("button", {"type":"button", "class":"delete-button", "textContent":"X"});
        deleteButton.addEventListener("click", function(){deleteAnswer(answerElement)});
        answerElement.append(deleteButton);
        const answerInput = createElementWithAttributes("input", {"type":"text", "maxLength":chatCharacterLimit, "value":text, "class":"text", "data-id":id, "data-original":text})
        answerInput.addEventListener("change", function(){updateAnswer(answerInput)});
        answerElement.append(answerInput);
        return answerElement;
    }

    function updateAnswer(element){
        const id = element.dataset.id;
        const old = element.dataset.original;
        const updated = element.value;
        deckAnswerChanges[id] = updated;
        if(old === updated){
            delete deckAnswerChanges[id];
            element.classList.remove("changed");
        }
        else {
            element.classList.add("changed");
        }
    }

    function deleteAnswer(element){
        const textElement = element.getElementsByClassName("text")[0];
        const text = textElement.value;
        const id = textElement.dataset.id;

        // if it's a new blank answer just remove it
        if(id < 0 && text === ""){
            element.remove();
        }

        // undelete an answer
        else if(deckAnswerChanges[id] === ""){
            updateAnswer(textElement);
            element.classList.remove("deleted");
            textElement.removeAttribute("disabled");
        }

        // queue the answer for deletion
        else {
            deckAnswerChanges[id] = "";
            element.classList.add("deleted");
            textElement.setAttribute("disabled", "1");
        }
    }

    function addAnswer(){
        const newAnswer = createAnswerElement("", newAnswerID);
        newAnswer.classList.add("new");
        answers.append(newAnswer);
        answers.scrollTop = answers.scrollHeight;
        newAnswer.getElementsByClassName('text')[0].focus();
        newAnswerID--;
    }

    function updateAnswers(){
        const answersContainer = document.getElementById("deck-editor__answers");
        const messages = answersContainer.getElementsByClassName("messages")[0];

        messages.innerHTML = "";

        for(const entry of Object.entries(deckAnswerChanges)){
            let key = entry[0];
            let value = entry[1];
            try {
                Number(key);
                String(value);
            }
            catch {
                delete deckAnswerChanges[key];
                console.log("An answer was not submitted because it was not the right data type.");
                continue;
            }
            if(value.length > chatCharacterLimit){
                delete deckAnswerChanges[key];
                console.log(`${value} was not submitted because it is longer than the character limit.`);
                continue;
            }
            if(key < 0 && value == ""){
                delete deckAnswerChanges[key];
                console.log(`${value} was not submitted because it is an empty new answer.`);
                continue;
            }

        }

        if(Object.keys(deckAnswerChanges).length == 0){
            messages.innerHTML = "No valid changes to submit.";
            return;
        }
        $.ajax({
            type: 'put',
            data: {answers:JSON.stringify(deckAnswerChanges)},
            url: '/user/updateAnswers',
            success: function (data) {
                messages.innerHTML = data.message;
                deckAnswerChanges = {};
                updateAnswerList(data.deck);
            },
            error: function(data) {
                messages.innerHTML = data.message;
            }
        });
    }

    function sortAnswers(){
        answers.value = answers.value.split("\n").sort(function(a, b){
            return a.toLowerCase() > b.toLowerCase();
        }).join("\n");
    }

    //
    // Begin questions
    //

    function listQuestions(){
        const questionsContainer = document.getElementById("deck-editor__questions");
        $.ajax({
            type: 'get',
            url: '/user/listQuestions',
            success: function (data) {
                updateQuestionList(data);
                deckQuestionChanges = {};
                newQuestionID = -1;
            },
            error: function(data) {
                questionsContainer.getElementsByClassName("messages")[0].innerHTML = data.responseText;
            }
        })
    }

    function updateQuestionList(deck){
        questions.innerHTML = "";
        let id = 0;
        for(const question of deck){
            questions.append(createQuestionElement(question.text, question.answers, id));
            id++;
        }
    }

    function createQuestionElement(text, responses, id){
        const questionElement = createElementWithAttributes("div", {"class":"question editor-entry", "data-id":id});
        const deleteButton = createElementWithAttributes("button", {"type":"button", "class":"delete-button", "textContent":"X"});
        deleteButton.addEventListener("click", function(){deleteQuestion(questionElement)});
        questionElement.append(deleteButton);
        const questionResponses = createElementWithAttributes("input", {"type":"number", "min":"1", "max":"3", "value":responses, "class":"responses", "data-original":responses});
        questionResponses.addEventListener("change", function(){updateQuestion(questionElement)})
        questionElement.append(questionResponses);
        const questionInput = createElementWithAttributes("input", {"type":"text", "maxLength":chatCharacterLimit, "value":text, "class":"text", "data-original":text})
        questionInput.addEventListener("change", function(){updateQuestion(questionElement)});
        questionElement.append(questionInput);
        return questionElement;
    }

    function addQuestion(){
        const newQuestion = createQuestionElement("", 1, newQuestionID);
        newQuestion.classList.add("new");
        questions.append(newQuestion);
        questions.scrollTop = questions.scrollHeight;
        newQuestion.getElementsByClassName('text')[0].focus();
        newQuestionID--;
    }

    function updateQuestion(element){
        const id = element.dataset.id;
        const responsesElement = element.getElementsByClassName("responses")[0];
        const textElement = element.getElementsByClassName("text")[0];
        const oldText = textElement.dataset.original;
        const oldResponses = responsesElement.dataset.original;
        const newText = textElement.value;
        const newResponses = responsesElement.value;
        deckQuestionChanges[id] = [newResponses, newText];
        if(newResponses === oldResponses && newText === oldText){
            delete deckQuestionChanges[id];
            element.classList.remove("changed");
        }
        else {
            element.classList.add("changed");
        }
    }

    function deleteQuestion(element){
        const responsesElement = element.getElementsByClassName("responses")[0];
        const textElement = element.getElementsByClassName("text")[0];
        const responses = responsesElement.value;
        const text = textElement.value;
        const id = element.dataset.id;

        // if it's a new blank just remove it
        if(id < 0 && text === ""){
            element.remove();
        }

        // undelete a question
        else if(deckQuestionChanges[id] && deckQuestionChanges[id][1] === ""){
            updateQuestion(element);
            element.classList.remove("deleted");
            responsesElement.removeAttribute("disabled");
            textElement.removeAttribute("disabled");
        }

        // queue the answer for deletion
        else {
            deckQuestionChanges[id] = [responses, ""];
            element.classList.add("deleted");
            responsesElement.setAttribute("disabled", "1");
            textElement.setAttribute("disabled", "1");
        }
    }

    function updateQuestions(){
        const questionsContainer = document.getElementById("deck-editor__questions");
        const messages = questionsContainer.getElementsByClassName("messages")[0];

        messages.innerHTML = "";

        for(const entry of Object.entries(deckQuestionChanges)){
            let key = entry[0];
            let value = entry[1];
            let responses = value[0];
            let text = value[1];
            try {
                Number(key);
                Number(responses);
                String(text);
            }
            catch {
                delete deckQuestionChanges[key];
                console.log("A question was not submitted because it was not the right data type.");
                continue;
            }
            if(text.length > chatCharacterLimit){
                delete deckQuestionChanges[key];
                console.log(`"${text}" was not submitted because it is longer than the character limit.`);
                continue;
            }
            if(key < 0 && text == ""){
                delete deckQuestionChanges[key];
                console.log(`${value} was not submitted because it is an empty question.`);
                continue;
            }
            if(responses < 1 || responses > 3){
                delete deckQuestionChanges[key];
                console.log(`${value} was not submitted because it has an invalid number of responses.`);
                continue;
            }

        }

        if(Object.keys(deckQuestionChanges).length == 0){
            messages.innerHTML = "No valid changes to submit.";
            return;
        }
        $.ajax({
            type: 'put',
            data: {questions:JSON.stringify(deckQuestionChanges)},
            url: '/user/updateQuestions',
            success: function (data) {
                messages.innerHTML = data.message;
                deckQuestionChanges = {};
                updateQuestionList(data.deck);
            },
            error: function(data) {
                messages.innerHTML = data.message;
            }
        });
    }

    function sortQuestions(){
        const questions = document.getElementById("my-questions");
        questions.value = questions.value.split("\n").sort(function(a, b){
            return a.toLowerCase().slice(2) > b.toLowerCase().slice(2);
        }).join("\n");
    }

    // helper function for creating an element and adding attributes to it
    function createElementWithAttributes(type, attributes) {
        let element = document.createElement(type);

        for (var attribute in attributes) {
            if(attribute == "textContent"){
                element.textContent = attributes[attribute];
            }
            else{
                element.setAttribute(attribute, attributes[attribute]);
            }
        }

        return element;
    }
</script>