<div id="lobby-page">
    <div id="players-table-container">
        <table id="players-table">
            <caption>Players</caption>
            <thead>
                <th>Name</th><th></th><th>Points</th><th>Wins</th>
            </thead>
            <tbody id="players-list">

            </tbody>
        </table>
        <a href="/menu">Leave game</a>
    </div>
    <div id="settings">
        <form id="game-settings">
            <fieldset id="game-settings-fieldset" disabled="1">
                <legend>Settings</legend>
                <ul>
                    <li>
                        <input id="game-setting-goal" name="goal" type="number" value="{{basePoints}}" min="{{minPoints}}" max="{{maxPoints}}" oninput="updateSettings('goal', this.value)"/>
                        <label for="game-setting-goal">Points to win</label>
                        <label class="setting-description">How many rounds a player needs to win to win the game. Default:&nbsp;{{basePoints}}. If this is less than {{pointsForWinToCount}}, wins will not count towards players' lifetime totals.</label>
                    </li><li>
                        <input id="game-setting-hand" name="hand" type="number" value="{{baseHandSize}}" min="{{minHandSize}}" max="{{maxHandSize}}" oninput="updateSettings('hand', this.value)"/>
                        <label for="game-setting-hand">Base hand size</label>
                        <label class="setting-description">The number of cards players will have in their hands. Multi-answer questions will still add cards. Default&nbsp;{{baseHandSize}}</label>
                    </li><li>
                        <input id="game-setting-global" name="global" type="checkbox" oninput="updateSettings('global', this.checked); updateCustomDisplay()"/>
                        <label for="game-setting-global">Global customs</label>
                        <label class="setting-description">Include custom cards from all registered players, not just those in this game. Warning: may include inside jokes you don't understand.</label>
                    </li><li>
                        <input id="game-setting-rando" name="rando" type="checkbox" oninput="updateSettings('rando', this.checked)"/>
                        <label for="game-setting-rando">Rando Cardrissian</label>
                        <label class="setting-description">Include an extra player who will pick random cards. Losing to him means you're not funny. Does not count towards the player limit.</label>
                    </li><li>
                <ul>
            </fieldset>
            <fieldset id="game-decks-fieldset" disabled="1">
                <legend>Decks</legend>
                <ul>
                    <li>
                        <input id="game-setting-custom" name="custom" type="checkbox" checked="true" disabled="true" title="If you don't want customs, why are you even here?"/>
                        <label for="game-setting-custom">Custom</label>
                        <label class="setting-description"><span id="custom-question-count">0</span> questions, <span id="custom-answer-count">0</span> answers</label>
                    </li>
                    {{#each standardDecks as | deck |}}
                        <li>
                            <input id="game-setting-{{@key}}" name="{{@key}}" type="checkbox" {{#if deck.enabledByDefault}}checked{{/if}} oninput="updateSettings('{{@key}}', this.checked)"/>
                            <label for="game-setting-{{@key}}">{{deck.name}}</label>
                            <label class="setting-description">{{deck.questionCount}} questions, {{deck.answerCount}} answers (<a href="/deck/{{@key}}" target="_blank">view</a>)</label>
                        </li>
                    {{/each}}
                </ul>
            </fieldset>
        </form>
        <button id="start-game" disabled="1" onclick="start()">Start Game</button>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    const myName = '{{username}}';
    const players = document.getElementById('players-list');
    const gameName = '{{gameName}}';
    const colors = ["red", "blue", "green", "purple", "orange", "yellow", "lightblue", "pink"];

    const settings = document.getElementById("game-settings");
    let currentSettings = {
        goal:settings.goal.value,
        hand:settings.hand.value,
        global:settings.global.checked,
        rando:settings.rando.checked,
        base:settings.base.checked,
        green:settings.green.checked,
        blue:settings.blue.checked,
    };
    let settingsToSend = {};
    let sendSettingsTimer;

    let localCustomAnswerCount = 0;
    let localCustomQuestionCount = 0;
    let globalCustomAnswerCount = Number("{{customCardCount.answers}}");
    let globalCustomQuestionCount = Number("{{customCardCount.questions}}");

    socket.emit('join', "{{gameName}}");

    socket.on('distribute players', function(playerList) {
        console.log("received distribute players");
        playerList.forEach(function(player) {
            addPlayerToList(player.name, player.color, player.lifetimePoints, player.lifetimeWins);
        });

        // if we're the first player, we're the host, so un-disable the start button.
        // the socket handler has validation though, so even if the user un-disables it through the inspector
        // it won't matter
        if(myName == playerList[0].name){
            makeHost();
        }

        createColorPicker(playerList[playerList.length - 1].color);

        let takenColors = [];
        playerList.forEach(function(player) {
            takenColors.push(player.color);
        });
        for(colorDiv of document.getElementById("color-dropdown-content").children){
            if(takenColors.includes(colorDiv.classList[1])){
                colorDiv.classList.add("taken");
            }
        }
        
    });

    socket.on('player join', function(player) {
        console.log("received player join");
        addPlayerToList(player.name, player.color, player.lifetimePoints, player.lifetimeWins);
        for(colorDiv of document.getElementById("color-dropdown-content").children){
            if(colorDiv.classList.contains(player.color)){
                colorDiv.classList.add("taken");
                break;
            }
        }
    });

    socket.on('player leave', function(player) {
        console.log("received player leave");
        for(const playerElement of players.children) {
            if(playerElement.dataset.name == player.name) {
                playerElement.remove();
                break;
            }
        }
        for(colorDiv of document.getElementById("color-dropdown-content").children){
            if(colorDiv.classList.contains(player.color)){
                colorDiv.classList.remove("taken");
                break;
            }
        }

        // Look at me. I am the host now.
        if(players.children[0].dataset.name == myName){
            makeHost();
        }
    });

    socket.on('start game', function(name) {
        window.location.href = '/play/' + encodeURIComponent(name);
    });

    socket.on('update player color', function(name, newColor, oldColor) {
        for(player of players.children) {
            if(player.dataset.name == name) {
                player.children[0].classList.remove(oldColor)
                player.children[0].classList.add(newColor);
                break;
            }
        }

        for(colorDiv of document.getElementById("color-dropdown-content").children){
            if(colorDiv.classList.contains(newColor)){
                colorDiv.classList.add("taken");
            }
            else if(colorDiv.classList.contains(oldColor)){
                colorDiv.classList.remove("taken");
            }
        }
    });

    socket.on('update settings display', function(settingsDict) {
        for(const setting in settingsDict){
            const value = settingsDict[setting];
            const element = document.getElementById(`game-setting-${setting}`);
            if(element){
                switch(element.type){
                    case "checkbox":
                        if(typeof(value) === "boolean"){
                            element.checked = value;
                        }
                        break;
                    case "number":
                        if(Number.isInteger(parseInt(value))){
                            element.value = value;
                        }
                        break;
                }
            }
        }
        updateCustomDisplay();
    });

    socket.on('update local custom counts', function(counts){
        localCustomQuestionCount = counts.questions;
        localCustomAnswerCount = counts.answers;
        updateCustomDisplay();
    });

    socket.on('update global custom counts', function(counts){
        globalCustomQuestionCount = counts.questions;
        globalCustomAnswerCount = counts.answers;
        updateCustomDisplay();
    });

    function updateCustomDisplay(){
        const answerDisplay = document.getElementById("custom-answer-count");
        const questionDisplay = document.getElementById("custom-question-count");

        if(document.getElementById("game-setting-global").checked){
            answerDisplay.textContent = globalCustomAnswerCount;
            questionDisplay.textContent = globalCustomQuestionCount;
        }
        else {
            answerDisplay.textContent = localCustomAnswerCount;
            questionDisplay.textContent = localCustomQuestionCount;
        }
    }

    // socket.on('disconnect', function(){
    //     window.location.href = '/menu';
    // });

    function addPlayerToList(name, color, points, wins){
        let newPlayer = document.createElement('tr');
        newPlayer.classList.add("player");
        newPlayer.setAttribute("data-name", name);
        newPlayer.innerHTML = `<td class="player-name ${color}">${name}</td><td class="color"></td><td>${points}</td><td>${wins}</td>`

        players.appendChild(newPlayer);
    }

    function createColorPicker(color){
        // create the color picker
        let dropdownDiv = document.createElement('div');
        dropdownDiv.id = 'color-dropdown';
        
        let dropdownButton = document.createElement('button');
        dropdownButton.id = 'color-dropdown-button';
        dropdownButton.classList.add("color-picker", color)
        dropdownDiv.append(dropdownButton);

        let dropdownContent = document.createElement('div');
        dropdownContent.id = "color-dropdown-content";
        colors.forEach(function(color){
            let new_color = document.createElement('div');
            new_color.classList.add('color-picker', color);
            new_color.onclick = function(){changeColor(color)};
            dropdownContent.append(new_color);
        });
        dropdownDiv.append(dropdownContent);

        document.querySelector("#players-list .player:last-child .color").append(dropdownDiv);
    }

    function changeColor(color){
        const colorButton = document.getElementById('color-dropdown-button');
        colorButton.classList.remove(colorButton.classList[1]);
        colorButton.classList.add(color);
        socket.emit('player change color', color);
    }

    function updateSettings(option, value){
        clearInterval(sendSettingsTimer);
        if(currentSettings[option] == value){
            delete settingsToSend[option];
        }
        else {
            settingsToSend[option] = value;
        }
        if(Object.keys(settingsToSend).length > 0){
            // Put this on a delay that's cleared on each update so we can send the net change rather than spamming individual updates
            sendSettingsTimer = setTimeout(sendUpdateSettings, 1000);
        }
    }

    function sendUpdateSettings(){
        socket.emit('player update settings', settingsToSend);
        console.log(settingsToSend);
        Object.assign(currentSettings, settingsToSend);
        settingsToSend = {};
        sendSettingsTimer = undefined;
    }

    function makeHost(){
        document.getElementsByTagName('body')[0].classList.add('host');
        document.getElementById('start-game').removeAttribute("disabled");
        document.getElementById('game-settings-fieldset').removeAttribute("disabled");
        document.getElementById('game-decks-fieldset').removeAttribute("disabled");
    }

    function start() {
        // if we're waiting on a settings update, send that
        if(sendSettingsTimer){
            clearInterval(sendSettingsTimer);
            sendUpdateSettings();
        }
        socket.emit('player start', gameName);
    }
</script>