<div id="login-page">
	<h2 id="welcome">Apple Pies Against Humanity</h2>
	<div id="login-options">
		<div id="login-container">
			<form id="login">
				<fieldset>
					<legend>Login</legend>
					<div class="chrome-bad">
						<div>
							<label for="login-name">Username</label>
							<input type="text" id="login-name" name="username" maxLength="32"></input>
						</div>

						<div>
							<label for="login-password">Password</label>
							<input type="password" id="login-password" name="password"></input>
						</div>
						<a href="#" id="forgot-password-link" onclick="forgotPassword(document.getElementById('login-name').value)">Forgot password</a>

						<input type="submit" value="Login"/>
					</div>
				</fieldset>
			</form>
		</div>
		<div id="register-container">
			<form id="register">
				<fieldset>
					<legend>Create account</legend>
					<div class="chrome-bad">
						<div>
							<label for="register-name">Username</label>
							<input type="text" id="register-name" name="username" maxLength="32"></input>
						</div>

						<div>
							<label for="register-password">Password</label>
							<input type="password" id="register-password" name="password"></input>
							<div class="input-tooltip">Don't use a password you use on another site</div>
						</div>

						<div>
							<label for="register-email">Email <span class="tooltip" title="Email is used only for password recovery. If you do not provide an email, you will not be able to recover your account if you lose your password.">(optional)</span></label>
							<input type="text" id="register-email" name="email" maxLength="254"></input>
						</div>
						
						<input type="submit" value="Register"/>
					</div>
				</fieldset>
			</form>
		</div>
		<div id="guest-container">
			<form id="guest">
				<fieldset>
					<legend>Guest</legend>
					<div class="chrome-bad">
						<p>
							Continue without creating an account.<br/>
							Be aware that by doing so, you will not be able to save custom cards, your stats will not be recorded, and you may not access the deck editor or set preferences.
						</p>
						<input type="submit" value="Play as guest"/>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div id="output"></div>
</div>
<script>
	const output = document.getElementById('output');
	function register(username, password, email){
		$.ajax({
			type: 'post',
			data: {username: username, password: password, email: email},
			url: '/user/register',
			success: function (text) {
				output.innerHTML = text;
				window.location.href = "/menu";
			},
			error: function(data) {
				output.innerHTML = data.responseText;
			}
		});
	}

	function login(username, password){
		$.ajax({
			type: 'post',
			data: {username: username, password: password},
			url: '/user/login',
			success: function (data) {
				output.innerHTML = data.message;
				window.location.href = data.target;
			},
			error: function(data) {
				output.innerHTML = data.responseJSON.message;
			}
		});
	}

	function forgotPassword(username){
		output.innerHTML = `Requesting a password reset email for ${username}`;
		$.ajax({
			type: 'post',
			data: {username: username},
			url: '/user/forgotPassword',
			success: function (text) {
				output.innerHTML = text;
			},
			error: function(data) {
				output.innerHTML = data.responseText;
			}
		});
	}

	function loginAsGuest(){
		$.ajax({
			type: 'post',
			url: '/user/loginAsGuest',
			success: function(data) {
				output.innerHTML = data.message;
				window.location.href = data.target;
			},
			error: function(data) {
				output.innerHTML = data.responseJSON.message;
			}
		});
	}

	function toggleRegister() {
		const container = document.getElementById("login-page");
		if(!container.classList.replace("register-hidden", "login-hidden")) {
			container.classList.replace("login-hidden", "register-hidden");
		}
	}

	$('#login').on('submit', function(e){
		e.preventDefault();
		login(e.target.username.value, e.target.password.value);
	});
	$('#register').on('submit', function(e){
		e.preventDefault();
		register(e.target.username.value, e.target.password.value, e.target.email.value);
	});
	$('#guest').on('submit', function(e){
		e.preventDefault();
		loginAsGuest();
	});

</script>