<div id="join-page">
    <div id="join-container">
        <div>
            <div id="join-title-container">
                <h2 id="join-title">Available Games</h2>
                <input type="button" id="refresh" value="Refresh" onclick="getGames()"/>
            </div>
            <table id="game-table">
                <thead>
                    <tr>
                        <th id="game-table-name">Name</th>
                        <th id="game-table-players">Players</th>
                        <th id="game-table-host">Host</th>
                        <th id="game-table-private">Private</th>
                    </tr>
                </thead>
                <tbody id="game-list">

                </tbody>
            </table>
        </div>

        <div id="join-messages"></div>
    </div>
    <div id="create-container">
        <div>
            <form id="create-game">
                <fieldset>
                    <legend>Create game</legend>
                    <div class="chrome-bad">
                        <div>
                            <label for="name-input">Room name</label>
                            <input type="text" id="name-input" name="name" maxLength="64"/>
                        </div>
                        <div>
                            <label for="password-input">Password (optional)</label>
                            <input type="text" id="password-input" name="password" maxLength="64"/>
                        </div>
                        <input type="button" value="Submit" onclick="createGame(this.form.name.value, this.form.password.value)"/>
                    </div>
                </fieldset>
            </form>
        </div>
        
        <div id="create-messages"></div>
    </div>
</div>

<script>
    getGames();
    var gameListUpdater = setInterval(getGames, 3000);

    const createForm = document.getElementById('create-game');
    createForm.addEventListener('submit', function(e) {
        e.preventDefault();
        createGame(createForm.name.value);
    });

    function createGame(name, password){
        $.ajax({
            type: 'post',
            data: {roomName: name, password: password},
            url: '/game/create',
            success: function (data) {
                document.getElementById("create-messages").innerHTML = "";
                window.location.href = "/lobby/" + encodeURIComponent(name);
            },
            error: function(data) {
                document.getElementById("create-messages").innerHTML = data.responseText;;
            }
        })
    }
    function getGames(){

        const gameList = document.getElementById('game-list');

        let displayedGames = [];

        for(let i = 0; i < gameList.children.length; i++) {
            displayedGames.push(gameList.children[i].dataset.name);
        }

        $.ajax({
            type: 'get',
            data: {username: "{{username}}"},
            url: '/game/list',
            success: function(data) {
                //updateList(data);
                let activeGames = {};

                // check the payload against displayedGames and add any new ones to it and the list the user sees
                data.lobbies.forEach(function(game) {

                    // Eventually these should be links, but then I need to unify how joining works;
                    // is it going to be an ajax put, an express route, a combination of both?
                    // (currently it's an ajax put which sends the user to the lobby page via an express route on success)

                    if(!displayedGames.includes(game.name)){
                        let addGame = document.createElement('tr');
                        addGame.setAttribute('data-name', game.name);
                        addGame.setAttribute('data-numPlayers', game.numPlayers);
                        addGame.setAttribute('data-host', (game.numPlayers > 0) ? game.creator : "");
                        addGame.setAttribute('data-hasPassword', game.hasPassword);
                        addGame.setAttribute('tabindex', 0);
                        addGame.setAttribute('onclick', `joinGame("${game.name}", ${game.hasPassword})`);
                        addGame.innerHTML = `
                            <td class="game-name">${game.name}</td>
                            <td>${game.numPlayers}/${game.maxPlayers}</td>
                            <td class="player-name">${(game.numPlayers > 0) ? game.creator : ''}</td>
                            <td class="password-box">${(game.hasPassword) ? `<i class="fa-solid fa-lock"></i>` : ""}</td>`;
                        addGame.classList.add("game");
                        gameList.appendChild(addGame);
                    }
                    activeGames[game.name] = {numPlayers: game.numPlayers, maxPlayers: game.maxPlayers, creator: game.creator, hasPassword: game.hasPassword};
                });

                data.rejoin.forEach(function(game){

                    if(!displayedGames.includes(game.name)){
                        let addGame = document.createElement('tr');
                        addGame.setAttribute('data-name', game.name);
                        addGame.setAttribute('data-numPlayers', game.numPlayers);
                        addGame.setAttribute('data-host', (game.numPlayers > 0) ? game.creator : "");
                        addGame.setAttribute('tabindex', 0);
                        addGame.setAttribute('onclick', `joinGame("${game.name}")`);
                        addGame.innerHTML = `<td class="game-name" colspan='4'>Rejoin ${game.name}</td>`;
                        addGame.classList.add("game", "rejoin");
                        gameList.appendChild(addGame);
                    }
                    activeGames[game.name] = {numPlayers: game.numPlayers, maxPlayers: game.maxPlayers, creator: game.creator, hasPassword: game.hasPassword};
                });

                // compare the displayed list with the payload we received and update or remove the entries accordingly
                for(let i = 0; i < gameList.children.length; i++) {
                    element = gameList.children[i];

                    // remove games that are no longer available
                    if(!(element.dataset.name in activeGames)){
                        gameList.removeChild(element);
                    }

                    // update other games, ignoring rejoin links
                    else {
                        game = activeGames[element.dataset.name];
                        if((element.dataset.numPlayers != game.numPlayers || element.dataset.host != game.host) && !element.classList.contains("rejoin")){
                            element.innerHTML = `
                                <td class="game-name">${element.dataset.name}</td>
                                <td>${game.numPlayers}/${game.maxPlayers}</td>
                                <td class="player-name">${(game.numPlayers > 0) ? game.creator : ''}</td>
                                <td class="password-box">${(game.hasPassword) ? `<i class="fa-solid fa-lock"></i>` : ""}</td>`;
                            element.dataset.numPlayers = game.numPlayers;
                            element.dataset.host = game.host;
                        }
                    }
                }
                
            }
        })
    }

    function joinGame(name, hasPassword){
        let password = undefined;
        if(hasPassword){
            password = prompt(`${name} requires a password to enter:`)
        }
        $.ajax({
            type: 'put',
            data: {roomName: name, password: password},
            url: '/game/join',
            success: function (data) {
                document.getElementById("join-messages").innerHTML = "";
                window.location.href = "/lobby/" + encodeURIComponent(name);
            },
            error: function(data) {
                if(data.responseText) {
                    document.getElementById("join-messages").innerHTML = data.responseText;
                }
                else {
                    console.log("Error. Response follows:");
                    console.log(data);
                }
            }
        })
    }
</script>