<dl id="paqaqiwta">
    <dt>Q: What the fuck is a PAQAQIWTA?</dt>
    <dd>A: A PAQAQIWTA (pronounced pack-uh-quit-uh) stands for <b>Potentially Asked Questions and Questions I Want to Answer</b>. It's like a FAQ, but I'm not pretending anybody actually asked any of these questions. I'm sure you've seen those FAQs that have questions that there's no way anybody actually asked, and certainly not "frequently".</dd>
</dl>