<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Apple Pies Against Humanity</title>
        <link href="/styles/play.css" type="text/css" rel="stylesheet" />
        <link href="/styles/shared.css" type="text/css" rel="stylesheet" />
        <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
        <link href="/fontawesome/css/solid.css" rel="stylesheet" />
        <link href="/fontawesome/css/regular.css" rel="stylesheet" />
        <script src="/scripts/jquery-3.6.0.min.js"></script>
        <script src="/scripts/playerManager.js"></script>
    </head>

    <body class="{{#if isLightMode}}light{{/if}}{{#unless isLightMode}}dark{{/unless}}">
        <div id="main-container">
            <div id="game-container">
                <div id="phase-header">
                    <div id="timer">0:00</div>
                    -
                    <span id="phase">Voting</span>
                    <span id="question-owner" class="owner"></span>
                </div>
                <div id="question-container">
                    <div id="question"></div>
                    <div id="skip-container">
                        <label id="skip-label" for="skip-box">Skip?</label>
                        <input type="checkbox" class="small-checkbox checkbox" id="skip-box" onchange="skipQuestion(this.checked)"/>
                        <label class="small-checkbox-display checkbox-display" id="skip-box-display" for="skip-box"></label>
                        <div id="skip-counter">
                            <span id="skip-counter-current">0</span> / <span id="skip-counter-needed">0</span>
                        </div>
                    </div>
                </div>
                <!-- <div id="question-container">What did the US airdrop to the children of Afghanistan?</div> -->
                <div id="board-container">
                    <ul id="board">
                        Loading...
                        <!-- <li class="card">
                            <input type="checkbox" id="discard-0" class="discard-box" value=0 title="Discard this card"/>
                            <input type="radio" id="selection-0" class="selection-box" name="selection" value=0/>
                            <label for="selection-0">Whatever Jesus would do</label><span class="owner">Mr Pie 5</span>
                        </li>
                        <li class="card">
                            <input type="checkbox" id="discard-1" class="discard-box" value=1 title="Discard this card"/>
                            <input type="radio" id="selection-1" class="selection-box" name="selection" value=1/>
                            <label for="selection-1">Whatever Jesus would do</label><span class="owner">Mr Pie 5</span>
                        </li>
                        <li class="card">
                            <input type="checkbox" id="discard-2" class="discard-box" value=2 title="Discard this card"/>
                            <input type="radio" id="selection-2" class="selection-box" name="selection" value=2/>
                            <label for="selection-2">Whatever Jesus would do</label><span class="owner">Mr Pie 5</span>
                        </li>
                        <li class="card">
                            <input type="checkbox" id="discard-3" class="discard-box" value=3 title="Discard this card"/>
                            <input type="radio" id="selection-3" class="selection-box" name="selection" value=3/>
                            <label for="selection-3">Whatever Jesus would do</label><span class="owner">Mr Pie 5</span>
                        </li>
                        <li class="card">
                            <input type="checkbox" id="discard-4" class="discard-box" value=4 title="Discard this card"/>
                            <input type="radio" id="selection-4" class="selection-box" name="selection" value=4/>
                            <label for="selection-4">Whatever Jesus would do</label><span class="owner">Mr Pie 5</span>
                        </li> -->
                    </ul>
                </div>
                <div id="chat-container">
                    <ul id="chat">
                        <!-- <li class="chat-message">
                            <span class="player-name red">Mr Pie 5</span>: -a Tenno use the keys, but they are mere trespassers. Only I, Vor, know the true power of the Void.
                        </li>
                        <li class="chat-message">
                            <span class="player-name red">Mr Pie 5</span>: -a Tenno use the keys, but they are mere trespassers. Only I, Vor, know the true power of the Void.
                        </li>
                        <li class="chat-message">
                            <span class="player-name red">Mr Pie 5</span>: -a Tenno use the keys, but they are mere trespassers. Only I, Vor, know the true power of the Void.
                        </li>
                        <li class="chat-message">
                            <span class="player-name red">Mr Pie 5</span>: -a Tenno use the keys, but they are mere trespassers. Only I, Vor, know the true power of the Void.
                        </li>
                        <li class="chat-message">
                            <span class="player-name red">Mr Pie 5</span>: -a Ur mum gay
                        </li>
                        <li class="chat-message">
                            Card added to your deck: Ur mum gay
                        </li> -->
                    </ul>
                    <div id="chat-input-container">
                        <input type="text" id="chat-input" autocomplete="off" maxLength="{{chatCharacterLimit}}"/>
                        <input type="button" id="chat-send" value="Send" onclick="sendChatMessage()"/>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                {{>color-scheme-toggle}}
                <div id="player-container">
                    <table id="players">
                        <tbody>
                            <tr>
                                <th rowspan="2"></th>
                                <th rowspan="2" id="name-header">Name</th>
                                <th rowspan="2">Points</th>
                                <th colspan="2">Lifetime</th>
                              </tr>
                              <tr>
                                <th>Points</th>
                                <th>Wins</th>
                              </tr>
                            <!-- <tr class="player">
                                <td class="player-name green">Mr Pie 5</td>
                                <td class="score">1</td>
                                <td class="lifetime-score">420</td>
                                <td class="lifetime-wins">69</td>
                            </tr>
                            <tr class="player">
                                <td class="player-name red">TheFacepalm</td>
                                <td class="score">3</td>
                                <td class="lifetime-score">1337</td>
                                <td class="lifetime-wins">8008</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div id="instructions">
                    <div class="instruction">
                        <div class="instruction-header">Instructions</div>
                        <div id="dynamic-instructions">
                            The game is loading and waiting for players to connect. If you have time to read this, you're probably the slow one. If you see this for more than 10 seconds, then everyone was so slow that the server thought you all died and the game was deleted, or something else went wrong. Try refreshing or creating a new game.
                        </div>
                    </div>
                    <div class=instruction>
                        <div class="instruction-header">Chat</div>
                        Press enter to open chat. Press enter again to send your message and close the chat, or escape to just close it.

                        The chat is scrollable when open.
                    </div>
                    <div class="instruction">
                        <div class="instruction-header">Creating custom cards</div>
                        Type into chat:<br/><br/>
                        
                        -q [num_blanks (1-3)] [text]<br/>
                        -a [text]<br/>
                        -undo
                    </div>
                </div>
                <div id="volume-control">
                    <div class="volume-booked"><i class="fa-solid fa-volume-low"></i></div>
                    <input id="volume-slider" type="range" min="0" max="2" step="0.02" value="{{volume}}" oninput="adjustVolume(this.value)">
                    <div class="volume-booked"><i class="fa-solid fa-volume-high"></i></div>
                </div>
                <a href="/menu" id="main-menu-button">Leave game</a>
                <div id="repo-link">
                    Source code, credits, and other info available on <a href="https://gitlab.com/MrPie5/apple-pies-against-humanity" target="_blank" rel="noopener noreferrer">GitLab</a>
                </div>
            </div>
            <audio id="audio-bgm1" loop>
                <source src="../audio/Logic and Trick loop.mp3" type="audio/mpeg"/>
            </audio>
            <audio id="audio-bgm2" loop>
                <source src="../audio/Court Begins loop.mp3" type="audio/mpeg"/>
            </audio>
            <audio id="audio-game-over">
                <source src="../audio/victory fanfare.mp3" type="audio/mpeg"/>
            </audio>

            <audio id="audio-mutter">
                <source src="../audio/sfx-gallery.wav" type="audio/mpeg"/>
            </audio>
            <audio id="audio-cheer">
                <source src="../audio/sfx-gallerycheer.wav" type="audio/mpeg"/>
            </audio>
            <audio id="audio-ding">
                <source src="../audio/sfx-realization.wav" type="audio/mpeg"/>
            </audio>
        </div>
        <div class="tooltip" id="tooltip-discard" style="display:none;">Discard</div>
        <div class="tooltip" id="tooltip-play" style="display:none;">Play</div>
        <div class="tooltip" id="tooltip-vote" style="display:none;">Vote</div> 
        <div class="tooltip" id="tooltip-skip" style="display:none;">Vote to skip this question</div>
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>local debug -->
        <script>
            const socket = io();

            const playerManager = new PlayerManager();

            const game = document.getElementById('game-container');
            const board = document.getElementById('board');
            const players = document.getElementById('players').children[0];
            const phaseElement = document.getElementById('phase');
            const skipBox = document.getElementById("skip-box");
            const skipCounterCurrent = document.getElementById('skip-counter-current');
            const skipCounterNeeded = document.getElementById('skip-counter-needed');
            const chatContainer = document.getElementById('chat-container');
            const chat = document.getElementById('chat');
            const chatInput = document.getElementById('chat-input');
            const chatCharacterLimit = Number('{{chatCharacterLimit}}');
            const instructions = document.getElementById('dynamic-instructions');
            const tooltipDiscard = document.getElementById('tooltip-discard');
            const tooltipPlay = document.getElementById('tooltip-play');
            const tooltipVote = document.getElementById('tooltip-vote');
            const tooltipSkip = document.getElementById('tooltip-skip');
            const baseAudioVolume = 0.2;

            const playerData = {};

            const myName = "{{username}}"
            const gameName = "{{gameName}}"

            let phase = undefined;
            let nowPlaying = document.getElementById('audio-bgm1');
            let soundEffect = document.getElementById('audio-mutter');
            let hand = [];
            let timer = 0;
            let answers = 0;
            let mySelections = [];
            let volumeMultiplier = 1;

            let audioPreferenceUpdateTimer;

            let reconnectTimer = undefined;

            socket.on("connect", function(){
                socket.emit('join', "{{gameName}}");
                clearInterval(reconnectTimer);
            });
            socket.on('disconnect', function(reason){

                if(reason == "io server disconnect"){
                    appendChatMessage('<span class="error">You\'ve been forcefully removed from the game by the server. You may need to return to the menu and log in again.</span>', '', true);
                }
                else if(reason == "io client disconnect"){
                    appendChatMessage('<span class="error">You\'ve manually disconnected from the server.</span>', '', true);
                }
                else{
                    appendChatMessage('<span class="error">You\'ve been disconnected. Attempting to reconnect...</span>', '', true);
                    reconnectTimer = setInterval(function(){
                        appendChatMessage('<span class="error">Unable to reconnect. The server may be down, or you could try refreshing the page.</span>', '', true);
                    }, 10000);
                    socket.connect();
                }
            });

            // intialize volume with user preference
            adjustVolume('{{volume}}', update=false);

            addTooltips(skipBox, tooltipSkip);

            socket.on('round start', function(){
                for(const element of players.getElementsByClassName("player-row")){
                    element.getElementsByClassName('score')[0].textContent = 0;
                }
                hand = [];
            });

            // receive white cards from server, should be unique for each player
            socket.on('distribute white', function(card_payload) {
                hand = hand.concat(card_payload);
                updateCardDisplay(hand);
            });

            // server confirmation that votes and discards were removed from your hand,
            // so remove them from local too
            socket.on('remove white', function(indexes) {
                indexes.forEach(function(index){
                    hand.splice(index, 1);
                });
            });

            // receive black card from server, should be the same for all players
            socket.on('distribute black', function(card) {
                document.getElementById('question').textContent = decodeHTML(card.text);
                document.getElementById('question-owner').textContent = card.owner;

                // set the board answer count, for hiding extra selections
                board.classList.remove("answers-1", "answers-2", "answers-3");
                board.classList.add("answers-" + card.answers);
                answers = card.answers;
            });

            // receive the list of cards on the table, i.e. what everyone played for this round
            socket.on('cards on table', function(cardsOnTable) {
                updateCardDisplay(cardsOnTable);
            });

            for(const element of players.getElementsByClassName("player-row")){
                    let nameElement = element.getElementsByClassName('player-name')[0];
                    if(nameElement.textContent == player.name){
                        nameElement.classList.add('gone');
                        element.getElementsByClassName('marker')[0].innerHTML = '';
                    }
                }

            // receive the list of players in the game, should only occur once when joining, or when reconnecting
            socket.on('distribute players', function(playerList){
                playerList.forEach(function(player) {
                    // check if the name already exists, so we don't duplicate the list in some cases like reconnecting
                    if(!document.querySelector(`.player-row[data-username="${player.name}"]`)){
                        let new_player = createElementWithAttributes('tr', {class:"player-row", 'data-username':player.name});

                        new_player.append(createElementWithAttributes('td', {class:'marker'}));
                        new_player.append(createElementWithAttributes('td', {class:'player-name ' + player.color + ' ' + ((!player.inGame) ? 'gone' : ''), textContent:player.name}));
                        new_player.append(createElementWithAttributes('td', {class:'score', textContent:player.points}));
                        new_player.append(createElementWithAttributes('td', {class:'lifetime-score', textContent:player.lifetimePoints}));
                        new_player.append(createElementWithAttributes('td', {class:'lifetime-wins', textContent:player.lifetimeWins}));

                        players.append(new_player);

                        playerManager.addPlayer(player.name, player.color, player.points, player.lifetimePoints, player.lifetimeWins, new_player);

                        playerData[player.name] = {name: player.name, color:player.color};
                    }
                });
            });

            // sync local countdown with server
            var countdown = setInterval(decrementTimer, 1000);
            socket.on('countdown', function(duration, timestamp){
                console.log("received countdown, took " + (Date.now() - timestamp));
                clearInterval(countdown);

                // correct for the time it took to receive the message
                timer = Math.floor((duration - (Date.now() - timestamp))/1000);
                
                document.getElementById('timer').textContent = formatTime(timer);
                countdown = setInterval(decrementTimer, 1000);
            });

            socket.on('update phase', function(newPhase) {
                phase = newPhase;

                if(!nowPlaying.readyState){
                    nowPlaying.load();
                }

                // remove ready status from each player, but don't do anything about inactive
                for(const element of players.getElementsByClassName("player-row")){
                    let marker = element.getElementsByClassName('marker')[0];
                    if(marker.classList.contains('ready')){      
                        marker.innerHTML = '';
                        marker.classList.remove('ready');
                    }
                }

                hideTooltip(tooltipDiscard);
                hideTooltip(tooltipPlay);
                hideTooltip(tooltipVote);
                hideTooltip(tooltipSkip);

                game.classList.remove("selection", "voting", "tie", "winner", "gameOver");
                game.classList.add(phase);
                mySelections = [];
                switch(phase){
                    case "selection":
                        nowPlaying.pause();
                        nowPlaying = playAudio(document.getElementById('audio-bgm1'), baseAudioVolume);
                        instructions.textContent = "Pick the funniest white text to fit the big yellow text.\n\nThink of the choices as \"cards\" in your \"hand\", like a card game.";
                        skipBox.checked = false;
                        skipCounterCurrent.textContent = 0;
                        phaseElement.textContent = "Selection";
                        break;
                    case "voting":
                        answers = 1;
                        board.classList.remove("answers-1", "answers-2", "answers-3");
                        nowPlaying.pause();
                        soundEffect = playAudio(document.getElementById('audio-mutter'), baseAudioVolume);

                        // preload the music
                        nowPlaying = document.getElementById('audio-bgm2');
                        nowPlaying.load();

                        // when the sound effect is over, play the music
                        soundEffect.onended = function() {
                            nowPlaying.play();
                            nowPlaying.volume = 0.2 * volumeMultiplier;
                        };
                        instructions.textContent = "Vote on other players' selections.\n\nNot voting will cost your submission 1 vote.";
                        skipBox.checked = false;
                        phaseElement.textContent = "Voting";
                        break;
                    case "tie":
                        soundEffect = playAudio(document.getElementById('audio-ding'), baseAudioVolume);
                        phaseElement.textContent = "Tie";
                        break;
                    case "winner":
                        nowPlaying.pause();
                        soundEffect = playAudio(document.getElementById('audio-cheer'), baseAudioVolume);
                        phaseElement.textContent = "Winner";
                        break;
                    case "gameOver":
                        nowPlaying.pause();
                        nowPlaying = playAudio(document.getElementById('audio-game-over'), baseAudioVolume);
                        phaseElement.textContent = "Game over";
                        break;
                }
            });

            function playAudio(id, volume){
                id.load();
                id.play();
                id.volume = volume * volumeMultiplier;
                return id;
            }

            function adjustVolume(multiplier, update=true){
                nowPlaying.volume = (multiplier / 1) * baseAudioVolume;
                soundEffect.volume = (multiplier / 1) * baseAudioVolume;
                volumeMultiplier = multiplier;

                // Set a timeout on this so we don't spam the server with update requests
                // the update check is so we skip it on first initialization
                if(update){
                    clearInterval(audioPreferenceUpdateTimer);
                    audioPreferenceUpdateTimer = setTimeout(function() {
                        socket.emit('update volume', multiplier);
                    }, 1000);
                }
            }

            socket.on('voting results', function(indexes) {
                // fill in each card's votes
                indexes.forEach(function(index) {
                    board.children[index[0]].getElementsByClassName('vote-counter')[0].textContent = index[1];
                });

                // then go through the cards on the board, and any card that does not have a vote value should be 0
                for(const card of board.children){
                    let voteCounter = card.getElementsByClassName('vote-counter')[0];
                    if(voteCounter.textContent == ''){
                        voteCounter.textContent = '0';
                    }
                }
                
            });

            socket.on('tie broken', function(index){
                board.children[index[0]].getElementsByClassName('vote-counter')[0].textContent++;
            });

            // receive the index of which card on the table won the round
            socket.on('round winner', function(winningIndex, winningPlayer) {
                // add the highlight class to the winning card group
                board.children[winningIndex].classList.add('highlight');

                playerManager.incrementScore(winningPlayer);
            });

            socket.on('game winner', function(winningPlayer){
                playerManager.incrementWins(winningPlayer);
            });

            socket.on('chat message', function(msg, sender, allowHTML) {
                appendChatMessage(msg, sender, allowHTML);
            });

            function appendChatMessage(msg, sender, allowHTML){
                let new_message = createElementWithAttributes('li', {class:"chat-message"});
                if(sender && sender.name){
                    new_message.appendChild(createElementWithAttributes('span', {class:"player-name " + sender.color, textContent:sender.name}));
                    new_message.append(": ");
                }

                // The server is allowed to flag messages with 'allowHTML', and we parse the content as HTML if it does.
                // Messages from other users will not have this flag set, and we should treat them as pure text.
                if(allowHTML){
                    new_message.innerHTML += msg;
                }
                else {
                    new_message.append(msg);
                }

                chat.append(new_message);

                // limit the chat to 100 messages
                if(chat.children.length > 100){
                    chat.children[0].remove();
                }

                chat.scrollTop = chat.scrollHeight;
            }

            socket.on('player ready', function(playerName){
                playerManager.playerReady(playerName);
            });

            socket.on('player inactive', function(playerName){
                playerManager.playerInactive(playerName);
            });

            socket.on('player active', function(playerName){
                playerManager.playerActive(playerName);
            });

            socket.on('player leave', function(player){
                playerManager.playerLeft(player.name);
            });

            socket.on('player rejoin', function(playerName){
                playerManager.playerRejoined(playerName);
            });

            socket.on('skip counter', function(current, needed){
                skipCounterCurrent.textContent = current;
                skipCounterNeeded.textContent = needed;
            });

            socket.on('rejoin game state', function(state){
                phase = state.phase;
                hand = state.hand;
                if(phase == "selection"){
                    updateCardDisplay(hand);
                }
                else if(state.cardsOnTable){
                    updateCardDisplay(state.cardsOnTable);
                }
            });

            socket.on('disconnect', function(){
                socket.emit
            });

            function skipQuestion(state){
                if(phase == "selection") {
                    socket.emit("player skip question", state);
                }
            }

            window.addEventListener('keydown', function(key) {
                switch(key.keyCode) {
                case 13: // enter
                    if(document.activeElement == chatInput){
                        sendChatMessage();
                    }
                    else {
                        chatInput.focus();
                    }
                    break;

                }
            });

            // send a chat message to the server, unless it's only whitespace
            function sendChatMessage(){
                let message = chatInput.value;
                if(message.length > chatCharacterLimit){
                    document.getElementById("chat-input").setAttribute("maxLength", chatCharacterLimit);
                    return;
                }
                if(message.replace(/\s/g, "")){
                    socket.emit('chat message', message);
                    chatInput.value = "";
                }
            }

            function updateCardDisplay(cards){
                // blank the current board
                board.innerHTML = null;

                // fill it with new cards
                let index = 0;
                for(const cardGroup of cards){
                    let card_group = createElementWithAttributes('li', {class:'card-group group-' + index});

                    if(phase == "selection"){
                        card_group.appendChild(createElementWithAttributes('input', {type:"checkbox", id:"discard-" + index, class:"small-checkbox checkbox discard-box", value:index, onchange:"discardCard(" + index + ", this.checked)"}));
                        let discard_label = createElementWithAttributes('label', {for:"discard-" + index, class:"small-checkbox-display checkbox-display discard-box-display"});
                        addTooltips(discard_label, tooltipDiscard);
                        card_group.appendChild(discard_label);
                    }
                    else {
                        card_group.appendChild(createElementWithAttributes('div', {class:"vote-counter"}));
                        card_group.appendChild(createElementWithAttributes('div', {class:"played-by player-name " + playerData[cardGroup[0].playedBy].color, textContent:cardGroup[0].playedBy}));
                    }                    

                    for(let j = 1; j < 4; j++){
                        card_group.appendChild(createElementWithAttributes('input', {type:"radio", id:"selection-" + index + "-" + j, class:"selection-box checkbox answer-" + j, name:"selection" + j, value:0, onchange:"selectCard(" + (j-1) + ", " + index + ")"}));
                        let selection_box = createElementWithAttributes('label', {for:"selection-" + index + "-" + j, class:"selection-box-display checkbox-display answer-" + j});
                        addTooltips(selection_box, (phase == "selection") ? tooltipPlay : tooltipVote);
                        card_group.appendChild(selection_box);
                    }
                    let cards_inner = createElementWithAttributes('div', {class:'cards-inner-container'});

                    cardGroup.forEach(card => {

                        let new_card = createElementWithAttributes('div', {class:'card'});

                        new_card.appendChild(createElementWithAttributes('label', {class:"answer-text", textContent:decodeHTML(card.text)}));
                        new_card.appendChild(createElementWithAttributes('span', {class:'owner', textContent:card.owner}));

                        cards_inner.appendChild(new_card);
                    });
                    card_group.append(cards_inner);
                    
                    // no selection boxes in the voting phase for the user's own cards
                    // (playedBy would be undefined in other phases)
                    if(cardGroup[0].playedBy == myName && playerManager.activePlayerCount > 2){
                       card_group.classList.add('my-card');
                    }

                    board.append(card_group);
                    index++;
                }
            }

            // helper function for creating an element and adding attributes to it
            function createElementWithAttributes(type, attributes) {
                let element = document.createElement(type);

                for (var attribute in attributes) {
                    if(attribute == "textContent"){
                        element.textContent = attributes[attribute];
                    }
                    else{
                        element.setAttribute(attribute, attributes[attribute]);
                    }
                }

                return element;
            }

            // tell the server which card you want to play this round, can be changed up until the phase change
            // answerIndex is used for questions with more than 1 answer, to denote which slot(column) the selection is
            // handIndex means which card(row) is being selected
            function selectCard(answerIndex, handIndex){
                mySelections[answerIndex] = handIndex;

                // no picking the same card in multiple slots
                document.querySelectorAll('.card-group.group-' + handIndex + ' .selection-box:not(.answer-' + (answerIndex+1)).forEach(function(element){
                    if(element.checked){
                        element.checked = false;
                        mySelections[element.value] = undefined;
                    }
                });

                if(mySelections.length == answers && !(mySelections.includes(undefined))){
                    socket.emit('player selection', mySelections);
                }
            }

            // tell the server which card you want to play this round, can be changed up until the phase change
            // second value is used to cancel
            function discardCard(index, value){
                socket.emit('player discard', index, value);
            }

            function decrementTimer() {
                if(timer > 0){
                    timer--;
                    document.getElementById('timer').textContent = formatTime(timer);
                }
            }

            function formatTime(time) {
                let minutes = Math.floor(time / 60);
                let seconds = (time % 60).toString().padStart(2, '0');
                return (minutes + ':' + seconds);
            }

            function decodeHTML(text) {
                // this is so fucking stupid and I love that it works
                // I know that I should use something more cross-browser-friendly, but for now this is fine
                var txt = document.createElement("textarea");
                txt.innerHTML = text;
                return txt.value;
            }

            function showTooltip(tooltip) {
                tooltip.style.display = "";
            }

            function hideTooltip(tooltip) {
                tooltip.style.display = "none";
            }

            function moveTooltip(tooltip, e) {
                tooltip.style.top = (e.clientY + 15) + 'px';
                tooltip.style.left = (e.clientX + 15) + 'px';
            }

            function addTooltips(element, tooltip){
                element.addEventListener("mouseover", function(){showTooltip(tooltip)});
                element.addEventListener("mouseout", function(){hideTooltip(tooltip)});
                element.addEventListener("mousemove", function(e){moveTooltip(tooltip, e)});
            }
        </script>
    </body>
</html>