<div id="settings-container">
    <form id="settings">
        <fieldset>
            <ul id="settings-list">
                <li>
                    <label>Username:</label>
                    <label id="username">{{username}}</label>
                </li>
                <li>
                    <label for="pref-email">Email:</label>
                    <input type="text" id="pref-email" name="email" maxLength="254" value="{{email}}"/>
                    <input type="button" onclick="changeEmail(this.form.email.value)" value="Change"/>
                </li>
                <li>
                    <label>Change password:</label>
                    <label>Not implemented</label>
                </li>
                <li>
                    <label for="pref-color">Preferred color:</label>
                    <div id="color-dropdown">
                        <button id="color-dropdown-button" class="color-picker {{preferredColor}}"></button>
                        <div id="color-dropdown-content">
                            <div class="color-picker red" onclick="setColor('red')"></div>
                            <div class="color-picker blue" onclick="setColor('blue')"></div>
                            <div class="color-picker green" onclick="setColor('green')"></div>
                            <div class="color-picker purple" onclick="setColor('purple')"></div>
                            <div class="color-picker orange" onclick="setColor('orange')"></div>
                            <div class="color-picker yellow" onclick="setColor('yellow')"></div>
                            <div class="color-picker lightblue" onclick="setColor('lightblue')"></div>
                            <div class="color-picker pink" onclick="setColor('pink')"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </fieldset>
    </form>
</div>
<script>
    const chatCharacterLimit = Number('{{chatCharacterLimit}}');
    const colors = ["red", "blue", "green", "purple", "orange", "yellow", "lightblue", "pink"];
    const settingsForm = document.getElementById('settings');
    settingsForm.addEventListener('submit', function(e) {
        e.preventDefault();
        saveSettings();
    });

    // Update the color picker on load to reflect existing preference
    changeColor(document.getElementById("color-dropdown-button").classList[1]);


    function changeEmail(email){
        $.ajax({
            type: 'put',
            url: '/user/changeEmail',
            data: {email:email},
            success: function () {
                document.getElementById("deck-messages").innerHTML = "Email successfully changed.";
            },
            error: function(data) {
                document.getElementById("deck-messages").innerHTML = data.responseText;
            }
        });
    }

    function setColor(color){
        if(!(colors.includes(color))){
            document.getElementById("deck-messages").innerHTML = "Invalid color"
            return; // this shouldn't happen but might as well check
        }
        $.ajax({
            type: 'put',
            url: '/user/setPreferredColor',
            data: {color:color},
            success: function () {
                changeColor(color);
            },
            error: function(data) {
                document.getElementById("deck-messages").innerHTML = data.responseText;
            }
        });
    }

    function changeColor(color){
        const colorButton = document.getElementById('color-dropdown-button');
        colorButton.classList.remove(colorButton.classList[1]);
        colorButton.classList.add(color);
        for(colorDiv of document.getElementById("color-dropdown-content").children){
            if(colorDiv.classList.contains(color)){
                colorDiv.classList.add("taken");
            }
            else if(colorDiv.classList.contains("taken")){
                colorDiv.classList.remove("taken");
            }
        }
    }

</script>