<form id="reset-password">
    <fieldset>
        <legend>Reset Password</legend>
        <label for="password-input-1">New password</label>
        <input id="password-input-1" name="password1" type="password"/>
        <label for="password-input-2">Repeat password</label>
        <input id="password-input-2" name="password2" type="password"/>
        <input type="button" value="Submit" onclick="resetPassword(this.form.password1.value, this.form.password2.value)"/>
    </fieldset>
</form>
<a href="/">Return to login screen</a>
<div id="output"></div>
<script>
    const output = document.getElementById('output');

    function resetPassword(password1, password2){
        if(password1 != password2){
            output.innerHTML = "Passwords do not match each other";
        }
        else {
            output.innerHTML = "";
            $.ajax({
                type: 'put',
                data: {password: password1},
                url: '/user/reset' + window.location.search,
                success: function (text) {
                    output.innerHTML = text;
                },
                error: function(data) {
                    output.innerHTML = data.responseText;
                }
            })
        }
    }
</script>