<section>
    <h2>Basics</h2>
    <p>
        Apple Pies Against Humanity works similarly to Cards Against Humanity, which you're likely familiar with if you're here. If you're not, Cards Against Humanity is a game where you draw Answer cards and play them in response to Question cards to create funny phrases and ideas, and the current judge awards a point to whoever played their favorite.
    </p>

    <p>
        There are a few key differences to note in Apple Pies Against Humanity:
        <ul>
            <li>Choosing the winner is done by voting, rather than by the Card Czar</li>
            <li>Every round you can discard any number of your cards, and draw replacements at the start of the next round</li>
            <li>Custom cards are highly encouraged</li>
        </ul>
    </p>
</section>


<h2>Phases</h2>
<p>This section will provide a detailed walkthrough of the game.</p>

<section>
    <h3>Setup</h3>
    <p> 
        Create a lobby from the main menu by entering a room name in the right panel or join an existing lobby by clicking one in the left panel. You will be taken to the lobby view where the host (the person who created this room) can configure the game options.
    </p>
        
    <p>
        Players can change their color by clicking the colored box next to their name.
    </p>

        Once the host clicks the start button, we start the game proper and advance to the selection phase.
    </p>
</section>

<section>
    <h3>Selection</h3>
    <p>
        In this phase, all players will see a question at the top of the screen and a selection of phrases below that. These phrases make up your "hand". All players see the same question, but have unique hands.
    </p>
    <p>
        To the left of each card in your hand is a small checkbox and 1-3 large checkboxes. Click the large checkbox to select that card as the one you want to play in response to the current question. Most questions will only require one answer, but some will have 2 or 3; in these cases, check the boxes from left to right in the order they should be applied to the question.
    </p>
    <p>
        The small checkbox is to mark a card for discard. At the end of each round, all marked cards will be removed from your hand and you will draw back up to the hand limit (usually 7). There is no penalty or limit for discarding, and you encouraged to discard any cards you don't understand or find funny.
    </p>
    <p>
        For some cards you may see a gray name to the right of them. This means that card is a custom card, and that is the name of the player who created it (so blame them if it sucks).
    </p>
    <p>
        To the right of the question is a small box marked "skip". If two thirds (rounded up) of the active players click this, the question will be skipped and a new one drawn instead.
    </p>
    <p>
        After all players have selected their cards, the game will advance to the voting phase.
    </p>
</section>

<section>
    <h3>Voting</h3>
    <p>
        In the voting phase, the hand area will be replaced with the anonymized answers of all players for the current question. Click the checkbox next to the answer you like the most. After all players have voted, the results will be shown and the owners of each answer revealed. In the event of a tie, a winner will be randomly picked between the tied answers.
    </p>
    <p>
        Whoever played the winning answer gets a point. If they then have enough points to win, they win. Otherwise we return to the selection phase and repeat the process.
    </p>
</section>