<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} - Apple Pies Against Humanity</title>
        {{>head}}
    </head>
    <body class="{{#if isLightMode}}light{{/if}}{{#unless isLightMode}}dark{{/unless}}">
        <header>
            <div class="header-title-container">
                <a href="/"><img src="/images/logo.png" alt="" class="main-logo" width="64px" height="64px"/></a>
                <h1>{{title}}</h1>
            </div>
            {{>nav}}
        </header>
        <main id="page-{{titleCSS title}}">
            {{{body}}}
        </main>
        {{>footer}}
    </body>
</html>