<div id="color-scheme-container">
    <input type="checkbox" id="color-scheme-toggle" {{#if isLightMode}}checked{{/if}}>
    <label for="color-scheme-toggle"><div id="color-toggle-light" class="color-toggle-button"><i class="fa-solid fa-sun"></i></div><div id="color-toggle-dark" class="color-toggle-button"><i class="fa-solid fa-moon"></i></div></label>
    <script>
        const colorSchemeToggle = document.getElementById('color-scheme-toggle');

        function setColorCookie(value){
            // delete the old cookie, as adding the domain parameter created a duplicate
            document.cookie = `isLightMode=${value}; max-age=-1; path=/; samesite=Lax;`

            // set a cookie that expires in 4 months
            document.cookie = `isLightMode=${value}; max-age=7884000; path=/; samesite=Lax; domain=mrpie5.com;`
        }

        function checkCookie(name){
            if (document.cookie.split(';').some((item) => item.trim().startsWith(`${name}`))) {
                return true
            }
            else {
                return false
            }
        }

        // Add a listener to the toggle
        colorSchemeToggle.addEventListener('change', function(){
            // update cookie and classlist based on state
            setColorCookie(colorSchemeToggle.checked);
            if(colorSchemeToggle.checked){
                document.body.classList.add('light');
                document.body.classList.remove('dark');
            }
            else{
                document.body.classList.add('dark');
                document.body.classList.remove('light');
            }
        });

        // If the cookie hasn't been set yet, do so now based on user preference, default is dark
        if(!checkCookie("isLightMode")){
            if(window.matchMedia('(prefers-color-scheme: light)').matches){
                colorSchemeToggle.checked = true;
            }
            else {
                colorSchemeToggle.checked = false;
            }
            colorSchemeToggle.dispatchEvent(new Event('change'));
        }

    </script>
</div>