<footer>
    Made with <img class="inline-image square" src="/images/think emoji.svg" alt="thinking"/> by Mr Pie 5. Source code is available on <a href="https://gitlab.com/MrPie5/apple-pies-against-humanity">GitLab</a>.
    <ul class="horizontal-list">
        <li><a href="/about">About</a></li> | 
        <li><a href="/privacy">Privacy policy</a></li> |
        <li><a href="/tutorial">How to play</a></li>
    </ul>
</footer>
