<nav id="nav">
    <div id="mobile-menu">☰</div>
    <ul id="nav-items" class="horizontal-list">
        {{#if username}}
            <li id="username">{{username}}</li>
            <li><a href="/menu">Menu</a></li>
            {{#unless isGuest}}<li><a href="/deck_editor">Deck Editor</a></li>{{/unless}}
            {{#unless isGuest}}<li><a href="/preferences">Preferences</a></li>{{/unless}}
            <li><a href="/user/logout">Logout</a></li>
        {{/if}}
        {{#unless username}}
            <li><a href="/login">Login</a></li>
        {{/unless}}
        <li>{{>color-scheme-toggle}}</li>
    </ul>
</nav>
<script>
const mobileMenu = document.getElementById("mobile-menu");
const navbar = document.getElementById("nav-items");
mobileMenu.addEventListener("click", function(){
    navbar.classList.toggle("active");
});
document.addEventListener("click", function(e){
    if(!(e.target == mobileMenu || navbar.contains(e.target))){
        navbar.classList.remove("active");
    }
})
</script>