:root {
    --deck-editor-deleted-text-color:gray;
    --deck-editor-deleted-border-color:red;
    --deck-editor-changed-border-color:orange;
    --deck-editor-new-border-color: green;
}

/******************************
* Preferences and deck editor *
*******************************/
#deck-editor {
  display:flex;
  flex-flow:row wrap;
  column-gap: 40px;
  justify-content: space-between;
}

#deck-editor > div {
  flex:1;
  min-width:300px;
}

#deck-editor .card-list {
  padding-top:10px;
  padding-right:10px;
  margin-bottom:20px;
  height:30em;
  max-height:100vh;
  overflow-y:scroll;
  border:1px solid var(--input-border-color);
}

#deck-editor .editor-entry {
  margin:5px;
  display:flex;
}

#deck-editor .editor-entry .text {
  width:100%;
  border-width:1px;
}

/* figure out some way to do the following rules for colorblindness */
/* border-style is an option, but kind of hard to see */

#deck-editor .editor-entry input.changed,
#deck-editor .editor-entry.changed input {
  border-color:var(--deck-editor-changed-border-color);
}

#deck-editor .editor-entry.new input {
  border-color:var(--deck-editor-new-border-color);
}

#deck-editor .editor-entry.deleted input {
  border-color:var(--deck-editor-deleted-border-color);
  text-decoration: line-through;
  color:var(--deck-editor-deleted-text-color);
}

#deck-editor button {
  margin-right:5px;
  height:1.2em;
  width:1em;
  font-size:1em;
  line-height:1em;
  padding:0;
  vertical-align:top;
  border:2px outset;
}

#deck-editor .delete-button {
  background:darkred;
  border-color:var(--deck-editor-deleted-border-color);
  color:#eee;
}

#deck-editor .add-button {
  background:darkgreen;
  border-color:var(--deck-editor-new-border-color);
  color:#eee;
  margin-left:5px;
}

#deck-editor input[type="number"] {
  width:1.5em;
  text-align:center;
  margin-right:5px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

#deck-editor .delete-button:hover {
  box-shadow:inset 0 0 0.3em #000;
  color:#bbb;
}

#deck-editor .messages {
  min-height:1.2em;
  padding:0.25em 1em;
}
/**********************************
* End preferences and deck editor *
***********************************/