.view-deck {
  display:flex;
  flex-flow:row wrap;
  list-style:none;
}

.view-deck > .card {
  flex-basis:12em;
  flex-grow:1;
  max-width:18em;
  border:1px solid var(--accent-color);
  padding:1em;
  margin:5px;
  
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.view-deck .text {
  word-break: break-word;
}

.view-deck .answers {
  width:100%;
  margin-top:0.5em;
  padding-top:0.5em;
  text-align:right;
  border-top:1px solid var(--grayed-text-color);
}