:root,
.dark {
  --body-background-color:#090C0F;
  --body-background-color--rgb:9, 12, 15;
  --ends-background-color:#030507;
  --ends-background-color--rgb:3, 5, 7;
  --text-color:#9AEBFF;
  --grayed-text-color: gray;
  --link-color:#FFE490;
  --accent-color: #17466E;
  --input-background: linear-gradient(to bottom, #060F1A, #091F3C);
  --input-border-color: #266CAB;
}

.light {
  --body-background-color:#ededed;
  --body-background-color--rgb:237, 237, 237;
  --ends-background-color:#f6f6f6;
  --ends-background-color--rgb:246, 246, 246;
  --text-color:#0f0f0f;
  --grayed-text-color: gray;
  --link-color:#067D5E;
  --accent-color: #5F9DB7;
  --input-background: #eeeeee;
  --input-border-color: #5F9DB7;
}

html {
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  color:var(--text-color);
  font-family:Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

main {
  padding:0 20px;
  flex:1;
}

a {
  color:var(--link-color);
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h2 {
  margin: 0.5em 0;
  padding-bottom:0.2em;
  border-bottom:1px solid var(--text-color);
}

h2#welcome {
  border:none;
  font-size: 1.6em;
}

p {
  margin: 0.5em 0;
}

fieldset {
  border-color:var(--accent-color);
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  border-radius:5px;
  color: var(--input-text-color);
}

button,
input[type="button"],
input[type="submit"] {
  border:1px solid var(--input-border-color);
  background:var(--input-background);
  color:var(--link-color);
  border-radius:2px;
  cursor:pointer;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  text-decoration:underline;
  filter:brightness(1.2);
}

#notification-area {
  min-height:3em;
  text-align:center;
}

header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:0 20px;
  background-color:var(--ends-background-color);
  border-bottom:2px solid var(--accent-color);
  position: relative;
}

.header-title-container {
  display:flex;
  flex-direction: row;
}

header .main-logo {
  padding-top:5px;
}

header h1 {
  margin-left:10px;
}

footer {
  border-top:2px solid var(--accent-color);
  background-color:var(--ends-background-color);
  padding: 1em 20px 0 20px;
  text-align:center;
}

.horizontal-list {
  list-style:none;
  padding-left:0;
}

.horizontal-list > li {
  display:inline-block;
}

#nav {
  float:right;
}

#nav-items {
  margin:0;
}

#nav-items li:not(:last-child)::after {
  content:" |";
}

/*************
* Login page *
**************/
#login-page  {
  display:flex;
  flex-direction:column;
  padding:10px;
  padding-top:8vh;
  align-items:center;
}

#login-page .chrome-bad {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  min-height:15em;
}

#login-options {
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  margin-bottom:8px;
}

#login-options > div {
  flex-basis: 15em;
}

#login-options form,
#login-options fieldset {
  height:100%;
  box-sizing: border-box;
}

#guest-container p {
  font-size:0.9em;
}

#login-page #output {
  height:1.5em;
}

.input-tooltip {
  display:none;
  opacity:0;
  pointer-events:none;
  position:fixed;
  margin-top:2.5em;
  border:1px solid gray;
  padding:2px;
  background:darkgray;
  color:black;
}

input:focus + .input-tooltip {
  display:block;
  opacity:1;
  transition:1s fade;
  transition-delay:1s;
}
/*****************
* End login page *
******************/

/***********
* Tooltips *
************/
.tooltip {
  font-size:0.9em;
  color: var(--grayed-text-color);
	cursor: help;
	border-bottom: 1px dotted var(--grayed-text-color);
}
/***************
* End tooltips *
****************/

/*****************
* Join menu page *
******************/
#messages {
  color:red;
  background-color:rgba(255,100,100,0.2);
  border:1px solid darkred;
  padding:5px;
  margin:5px;
  text-align:center;
}

#messages.nomessages {
  display:none;
}

#join-page {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  column-gap: 50px;
}

#join-container,
#create-container {
  border: 1px solid var(--accent-color);
  min-height:20em;
  padding:10px;
}

#create-container {
  flex:1 0 25em;
}

#create-container form,
#create-container fieldset {
  height:100%;
  box-sizing:border-box;
}

#create-container .chrome-bad {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  row-gap:2em;
  height:100%;
}

#create-container .chrome-bad input[type="button"] {
  align-self:flex-start;
  width:5em;
}

#create-container .chrome-bad > div {
  display:flex;
  flex-direction:column;
}

#join-container {
  display:flex;
  flex:1 0 30em;
  flex-direction:column;
  justify-content: space-between;
}

#join-title-container {
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

#join-title {
  margin:0;
  border:0;
}

#join-messages {
  border-top: 1px solid var(--grayed-text-color);
  padding-top:5px;
  min-height:1.5em;
}

#refresh {
  float:right;
}

#game-table {
  border-collapse: collapse;
  text-align:left;
  width: 100%;
}

#game-table th {
  padding-bottom:5px;
}

#game-table-players,
#game-table-private {
  width:5em;
}

#game-table-private {
  text-align:center;
}

#game-table .password-box {
  text-align: center;
}

#game-list {
  list-style:none;
  border:1px solid var(--accent-color);
  overflow-y:scroll;
}

#game-list .game {
  width:100%;
  outline:1px solid var(--accent-color);
  cursor:pointer;
}

#game-list .game td {
  padding:3px;
}

#game-list .game:hover,
#game-list .game:focus {
  background:rgba(255,255,255,0.05);
  text-decoration:none;
}

#game-list .game td {
  border-color:red;
}
/*********************
* End join menu page *
**********************/

/********
* Lobby *
*********/
#lobby-page {
  display:flex;
  flex-flow:row wrap;
  justify-content:left;
}

#players-table-container,
#settings {
  flex:1;
  min-height:20em;
  padding:10px;
}

#players-table-container {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
/*   min-width:20em; */
  max-width:30em;
}

#settings {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-width:20em;
  max-width:30em;
  border: 1px solid var(--accent-color);
}

#settings ul {
  list-style:none;
  padding-left:0;
}

#settings li {
  padding:3px;
}

#settings input[type="number"] {
  width:3em;
}

.setting-description {
  display:block;
  font-size:0.7em;
  margin-left:20px;
}

#start-game {
  align-self:flex-start;
}

#players-table {
  text-align:left;
  max-width:25em;
  border-collapse: separate;
  border-spacing:5px;
  margin-bottom:30px;
}

.player {
  outline:1px solid var(--accent-color);
}

.player td {
  padding:3px;
}

#players-table > thead > tr > th:not(:first-child) {
  min-width:4em;
}

#players-list > tr > td:first-child {
  width:100%;
  text-overflow:ellipsis;
}
/************
* End lobby *
*************/

/************************
* Color dropdown button *
*************************/
#color-dropdown {
  height:1em;
  width:2em;
  padding:2px;
  position:relative;
  display: inline-flex;
  align-items:center;
  justify-content:center;
  margin-left:8px;
  outline:1px solid var(--accent-color);
  border-radius:5px;
  text-align:center;
  vertical-align:bottom;
}

#color-dropdown-button {
  height:calc(1em - 4px);
  width:calc(2em - 4px);
  border: none;
  padding:0;
  vertical-align:middle;
}

#color-dropdown-content {
  display: none;
  top:0;
  left:1em;
  position: absolute;
  z-index: 1;
}

#color-dropdown:hover #color-dropdown-content,
#color-dropdown-content.active {
  display: flex;
}

#color-dropdown:hover #color-dropdown-button {
  box-shadow:inset 0 0 3px 1px #000;
}

#color-dropdown-content {
  width:8em;
  flex-flow:row wrap;
}

.color-picker {
  box-shadow:inset 0 0 0 1px #000;
  width:2em;
  height:2em;
}

.color-picker:not(.taken):hover {
  box-shadow:inset 0 0 0.25em 1px #000;
  cursor:pointer;
}

.color-picker.taken {
  box-shadow:inset 0 0 0 0.35em #777;
}

.color-picker.red {
  background:var(--player-red, red);
}

.color-picker.blue {
  background:var(--player-blue, blue);
}

.color-picker.lightblue {
  background:var(--player-lightblue, lightblue);
}

.color-picker.orange {
  background:var(--player-orange, orange);
}

.color-picker.purple {
  background:var(--player-purple, purple);
}

.color-picker.green {
  background:var(--player-green, green);
}

.color-picker.yellow {
  background:var(--player-yellow, yellow);
}

.color-picker.pink {
  background:var(--player-pink, pink);
}
/****************************
* End color dropdown button *
*****************************/