/*********************
* Mobile adjustments *
**********************/
#mobile-menu {
	display:none;
	user-select:none;
}

@media only screen and (max-width:600px){
  
    header {
        padding:0.25em;
    }
    
    #nav {
        display:block;
        text-align:right;
        float:none;
        justify-content:space-between;
        align-items:center;
        /*! position:relative; */
        padding:0.25em;
    }

    #nav-items {
        display:none;
        position:absolute;
        flex-direction:column;
        border:2px solid var(--accent-color);
        border-width:0 0 2px 2px;
        min-width:7em;
        padding-right:10px;
        top:100%;
        right:0;
        background:rgba(var(--ends-background-color--rgb), 0.98);
        font-size:1.2em;
    }

    #nav-items.active {
        display:flex;
    }

    #nav-items li {
        margin:0;
        padding:0.1em;
        width:100%;
        text-align:center;
    }

    #nav-items li:not(:last-child)::after {
        display:none;
    }

    #nav-items a {
        display:block;
        padding:0.5em;
    }

    #mobile-menu {
        display:block;
        color:var(--link-color);
        font-size:2em;
        margin:0 15px;
        cursor:pointer;
        height:100%;
        line-height:100%;
    }

    #color-scheme-container {
        margin:0.75em auto;
    }

    #join-page,
    #lobby-page {
        display:block;
    }

    #players-table-container,
    #settings {
        min-width:unset;
    }

    #settings-form {
        width:100%;
    }
}