:root,
.dark {
  --background-color: #080302;
  --input-background-color: #121212;
  --input-border-color: #42414d;
  --input-text-color: #aaa;
  --main-text-color: #eeeeee;
  --gray-text-color: #666666;
  --link-color: #00A382;
  --text-highlight-color: #F2F200;
  --checkbox-color: #833410;
  --checkbox-hover-color: #FF6814;
  --check-color: #FEEDD1;
  --accent-color: #833410;
  --background-color--secondary--rgb: 10,5,0;
}

.light {
  --background-color: #ededed;
  --input-background-color: #eeeeee;
  --input-border-color: ;
  --input-text-color: ;
  --main-text-color: #0f0f0f;
  --gray-text-color: #797979;
  --link-color: #067D5E;
  --text-highlight-color: #9B3B00;
  --checkbox-color: #5F9DB7;
  --checkbox-hover-color: #77C6E5;
  --check-color: #01122E;
  --accent-color: #5F9DB7;
  --background-color--secondary--rgb: 230,235,240;
}

html {
  height:100%;
  font-size:1em;
}

body {
  background:var(--background-color);
  color:var(--main-text-color, white);
  font-family:Helvetica, Arial, sans-serif;
  height:calc(100vh - 30px);
  margin:0;
}

a {
  color:var(--link-color);
}

#main-container {
  display:flex;
  height:calc(100% - 20px);
}

#game-container {
  flex:2;
  height: 100%;
  max-width:60%;
  display:flex;
  flex-direction:column;
  padding:30px 10px 20px 20px;
}

#board-container {
  flex:1;
}

#sidebar {
  background-color:rgba(var(--background-color--secondary--rgb), 0.5);
  display:flex;
  flex-direction:column;
  flex:1;
  height: 100%;
  font-size:0.9em;
  padding:20px 20px 20px 15px;
  border-left:1px solid var(--accent-color);
}

/**************
* Header area *
***************/

#timer {
  display:inline-block;
	width: 2.3em;
}

#phase {
  margin-left:5px;
}

#question-container {
  margin-top:0.5em;
  margin-bottom:2.5em;
  display:flex;
  justify-content: space-between;
}

#skip-container {
  margin-left:0.5em;
  text-align:center;
}

#skip-label,
#skip-counter {
  font-size:0.8em;
}

#skip-box-display {
  display:block;
  background-position:center;
}

#question {
  display:inline-block;
  color:var(--text-highlight-color, yellow);
  font-size:1.5em;
}

#game-container:not(.selection) #skip-container {
  opacity:0;
  pointer-events:none;
}

/******************
* End header area *
*******************/

/************
* Hand area *
*************/
.card-group {
  list-style:none;
  margin-bottom:1em;
  display:flex;
  align-items:center;
  min-height: 2em;
}

.card {
  display:block;
}

.cards-inner-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-left:5px;
}

.owner {
  color:var(--gray-text-color, gray);
  margin-left:1em;
}

.checkbox {
  width:0;
  height:0;
  opacity:0;
  position:fixed;
  pointer-events:none;
}

.checkbox-display {
  position:relative;
	font-family: 'Font Awesome 6 Free';
  font-size:2em;
	font-weight: 400;
  width:1em;
  min-width:1em; /* specifying min-width additionally is necessary here due to long card names on smaller screens */
  height:1em;
  line-height:1em;
  color:var(--checkbox-color);
  cursor:pointer;
}

.selection-box-display {
  margin:0 2px;
}

.checkbox-display::before{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  content:'\f0c8';
  z-index:1;
}

.checkbox-display:hover {
  color:var(--checkbox-hover-color);
}

.checkbox:checked + .checkbox-display::after {
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  font-weight:900;
  content:'\f00c';
  color:var(--check-color);
  z-index:2;
}

.selection .selection-box:checked ~ .cards-inner-container .card,
.voting .selection-box:checked ~ .cards-inner-container .card,
#board .highlight .card {
  color:var(--text-highlight-color);
}

.small-checkbox-display {
  font-size:1em;
  width:2em;
  min-width:2em; /* specifying min-width additionally is necessary here due to long card names on smaller screens */
  height:2em;
  line-height:2em;
  margin-right:5px;
}

#board .vote-counter {
  width:1.5em;
  margin:0 5px;
  align-self:center;
}

.voting .vote-counter {
  display:none;
}

#game-container:not(.winner) .played-by{
  display:none;
}

.answer-text {
  word-break:break-word;
}

.played-by {
  width:3.5em;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

/* hide the extra selection boxes unless they're needed */
#board.answers-1 .selection-box.answer-2,
#board.answers-1 .selection-box-display.answer-2,
#game-container:not(.selection) .selection-box.answer-2,
#game-container:not(.selection) .selection-box-display.answer-2,
#board:not(.answers-3) .selection-box.answer-3,
#board:not(.answers-3) .selection-box-display.answer-3 {
  display:none;
}

.voting .my-card .selection-box-display {
  visibility:hidden;
}

.tie .card-group .selection-box-display,
.winner .card-group .selection-box-display,
.gameOver .card-group .selection-box-display {
  display:none;
}
/****************
* End hand area *
*****************/

/***********
* Tooltips *
************/
.tooltip {
  position:fixed;
  color: var(--main-text-color);
  font-size:0.8em;
  padding:0.4em;
  background-color:rgba(var(--background-color--secondary--rgb), 1);
  border:1px solid var(--checkbox-color);
  border-radius:5px;
  box-shadow:0 0 3px #996A40, inset 0 0 3px #996A40;
  z-index:99;
}
/***************
* End tooltips *
****************/

/*********************
* Right sidebar area *
**********************/
#players {
  width:100%;
  max-width:20em;
  margin-bottom:4em;
}

#players td {
  padding:2px;
}

#players th {
  font-size:0.7em;
  text-align:center;
  vertical-align:bottom;
}

#players #name-header {
  text-align:left;
}

#players .player-name {
  text-align:left;
  width:100%;
}

#players .score,
#players .lifetime-score,
#players .lifetime-wins {
  text-align:center;
}

.lifetime-score,
.lifetime-wins {
  color:var(--gray-text-color, gray);
}

#players .score,
#players .lifetime-score,
#players .lifetime-wins {
  min-width:2.5em;
}

#players .marker {
  display:inline-block;
  width:1em;
  vertical-align:middle;
  font-weight:bold;
  font-size:0.8em;
}

#players .marker.ready {
  color:#B1FEB1;
  text-shadow: 0 0 3px #007F0E;
}

#players .marker.inactive {
  color:#FF7F7F;
  text-shadow: 0 0 3px #FF0000;
}

.player-name.gone {
  color:var(--gray-text-color, gray);
}

#instructions {
  max-width:30em;
}

.instruction-header {
  color:var(--gray-text-color, gray);
  margin-bottom:5px;
}

.instruction {
  margin-bottom:3em;
}

#color-scheme-container {
  align-self:flex-end;
}

#main-menu-button {
  margin: 2em 0 1em;
}

#repo-link {
  margin-top:auto;
}
/*************************
* End right sidebar area *
**************************/

/****************
* Volume Slider *
*****************/
#volume-control {
  user-select:none;
}

.volume-booked {
  display:inline-block;
  vertical-align:top;
}

#volume-slider {
  -webkit-appearance: none;
  height: 5px;
  background: var(--gray-text-color, gray);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor:pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

#volume-slider::-moz-range-thumb,
.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #2ecc71;
  cursor: pointer;
  border:none;
  border-radius:50%;
}
/********************
* End volume slider *
*********************/

/**************
* Chat styles *
***************/
#chat-container {
  background: rgba(var(--background-color--secondary--rgb), 0.5);
  position:relative;
  border: 2px solid var(--accent-color);
  padding:2px;
  flex-basis:11em;
  max-height:11em;
  display:flex;
  flex-flow:column;
  justify-content: flex-end;
}

#chat-container::before {
  position:absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:1em;
  background:linear-gradient(to bottom, var(--background-color), transparent);
}

ul#chat {
  flex:1;
  display:block;
  height:100%;
  margin:0;
  padding:0;
  list-style:none;
  overflow-y:scroll;
}

.chat-message {
  word-break:break-word;
  overflow:hidden;
  margin:4px 2px;
}

.chat-message .error {
  color:red;
}

#chat .player-name {
  margin-right:1px;
}

#chat-input-container {
  display:flex;
  flex-direction:row;
}

#chat-send {
  width:5em;
}

#chat-input {
  flex:1;
  background:var(--input-background-color);
  color:var(--input-text-color);
  border: 1px solid var(--input-border-color);
}
/******************
* End chat styles *
*******************/

/*********************
* Mobile adjustments *
**********************/
@media only screen and (max-width:600px){
  body {
    padding:10px;
    height:unset;
  }
  
  #main-container {
    display:block;
    padding:0;
  }
  
  #game-container {
    max-width:unset;
  }
  
  #question-container {
    margin-bottom:1em;
  }
  
  #board {
    padding-left:0;
  }
  
  #sidebar {
    margin-left:0;
    border-top:1px solid var(--gray-text-color);
  }
  
}