:root,
.dark {
    --player-red: #B4141E;
    --player-blue: #0042FF;
    --player-green: #168000;
    --player-orange: #FE8A0E;
    --player-purple: #540081;
    --player-pink: #CCA6FC;
    --player-yellow: #EBE129;
    --player-lightblue: #1CA7EA;
}

.light {
    --player-red: #B4141E;
    --player-blue: #0042FF;
    --player-green: #168000;
    --player-orange: #FE8A0E;
    --player-purple: #540081;
    --player-pink: #da70d6;
    --player-yellow: #b8860b;
    --player-lightblue: #1CA7EA;
}

.inline-image {
  height:1em;
  width:auto;
  vertical-align: middle;
}

.inline-image.square {
  height:1em;
  width:1em;
}

.game-name {
  overflow:hidden;
}

/****************
* Player colors *
*****************/
.red {
  color:var(--player-red, red);
}

.blue {
  color:var(--player-blue, blue);
}

.orange {
  color:var(--player-orange, orange);
}

.purple {
  color:var(--player-purple, purple);
}

.green {
  color:var(--player-green, green);
}

.lightblue {
  color:var(--player-lightblue, lightblue);
}

.yellow {
  color:var(--player-yellow, yellow);
}

.pink {
  color:var(--player-pink, pink);
}

.rainbow {
  background: linear-gradient(to right,
    var(--player-red, red),
    var(--player-orange, orange),
    var(--player-yellow, yellow),
    var(--player-green, green),
    var(--player-lightblue, lightblue),
    var(--player-blue, blue),
    var(--player-purple, purple),
    var(--player-pink, pink)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.player-name {
  overflow:hidden; /* in case of zalgo */
}
/********************
* End player colors *
*********************/

/**********************
* Color scheme button *
***********************/
#color-scheme-container {
	width:5em;
  min-height:calc(1em + 4px);
	overflow:hidden;
	border:2px solid var(--accent-color);
	border-radius:4px;
}

#color-scheme-toggle {
	display:none;
}

#color-scheme-container label {
	position:relative;
	display:flex;
	flex-direction: row;
	transition:0.5s;
	width:calc(12em + 1px);
}

.color-toggle-button {
	cursor:pointer;
	width: 6em;
	text-align:center;
	transition:0.5s;
	transform:skew(-20deg);
}

.color-toggle-button > * {
	transform:skew(20deg);
}

#color-toggle-light {
  border-right: 1px solid #ccc;
	background-color: #FFE284;
	color: #000;
}

#color-toggle-dark {
  background-color:#0b1341;
	color:#fff;
}

/* during light mode */

.light #color-scheme-toggle + label #color-toggle-dark {
	text-indent: -2.3em;
}

.light #color-scheme-toggle:hover + label #color-toggle-dark {
  padding-left:0.2em;
}

.light #color-scheme-toggle:hover + label #color-toggle-light {
	text-indent: 1em;
}

.light #color-scheme-container label {
	left:-0.5em;
}

.light #color-scheme-toggle:hover + label {
  left:calc(-2.5em + 1px);
}

/* during dark mode */

.dark #color-scheme-toggle + label #color-toggle-light {
	text-indent:2.3em;
}

.dark #color-scheme-toggle:hover + label #color-toggle-light {
  padding-right:0.2em;
}

.dark #color-scheme-toggle:hover + label #color-toggle-dark {
	text-indent: -1em;
}

.dark #color-scheme-container label {
	left:calc(-6.5em - 1px);
}

.dark #color-scheme-toggle:hover + label {
  left:calc(-4.5em - 1px);
}
/**************************
* End color scheme button *
***************************/